.global-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  z-index: 9999;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.global-loader--visible {
  opacity: 1;
}
